body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.backGround{
  position:relative;
  background-image: url(/public/glassesImage/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 700px;
}
.img {
  position: relative;
}
.tryGlasses {
  position: absolute;
  left: 34.655%;
  top: 21.75%;
}
.tryGlasses img{
  width: 50%;
}
.glasses{
  background-color:white
}
.img_span img{
  padding: .5rem;
  border: 1px solid rgba(0, 0, 0, .404);
  margin: 0 .1rem;
  cursor: pointer;
  width: 110px;
}
.content {
  position: absolute;
  background-color: rgba(255, 166, 0, .575);
  width: 50%;
  height: 35%;
  left: 25%;
  bottom: 0;
  text-align: left;
  padding: 1rem;
}
.content .glass-title {
  font-size: 15px;
  font-weight: 700;
  color: #8a2be2;
}
.content .glass-content {
  font-size: 14px;
}